/* @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&family=Instrument+Sans:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=DM+Sans:wght@300;400;500&display=swap');


*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --cream: #F7F4EF;
  --dark: #2b2f30;
  --muted: #6B6B66;
  --accent: #C17B3F;
  --border: rgba(26,26,24,0.1);
}

body {
  background: var(--cream);
  color: var(--dark);
  /* font-family: 'Instrument Sans', sans-serif; */
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}